h2{
    text-align: center;
}
.dataForm{
    width: 50%;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid rgb(224, 224, 224);
    .nameInput{
        width: 300px;
        height: 40px;
    }
    mat-radio-button{
        margin: 3px;
    }
    mat-checkbox{
        margin: 3px;
    }
}